{{> header}}
<main class="container" style="padding:24px 0">
  {{breadcrumbs}}
  <h1>{{category.name}}</h1>
  {{#each sections}}
    <section style="margin:18px 0">
      <h2><a href="{{url}}">{{name}}</a></h2>
      <ul>
        {{#each articles}}
          <li><a href="{{url}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </section>
  {{/each}}
</main>
{{> footer}}
